In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [69]:
submission_path = 'D:\\GSU-PhD\\AML\\Project\\brist1d\\submissions\\our_submission.csv'

In [25]:
# Load the training and test datasets
train_path = 'D:\\GSU-PhD\\AML\\Project\\orig-kaggle\\train.csv'
test_path = 'D:\\GSU-PhD\\AML\\Project\\orig-kaggle\\test.csv'
submission_path = 'D:\\GSU-PhD\\AML\\Project\\orig-kaggle\\our_submission.csv'

train_data = pd.read_csv(train_path)
test_data = pd.read_csv(test_path)

In [3]:
train_data.head()

,id,p_num,time,bg-5:55,bg-5:50,bg-5:45,bg-5:40,bg-5:35,bg-5:30,bg-5:25,...,activity-0:40,activity-0:35,activity-0:30,activity-0:25,activity-0:20,activity-0:15,activity-0:10,activity-0:05,activity-0:00,bg+1:00
0,p01_0,p01,06:10:00,NaN,NaN,9.6,NaN,NaN,9.7,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.4
1,p01_1,p01,06:25:00,NaN,NaN,9.7,NaN,NaN,9.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.8
2,p01_2,p01,06:40:00,NaN,NaN,9.2,NaN,NaN,8.7,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.5
3,p01_3,p01,06:55:00,NaN,NaN,8.7,NaN,NaN,8.4,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.8
4,p01_4,p01,07:10:00,NaN,NaN,8.4,NaN,NaN,8.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.7

In [4]:
train_data.tail()

,id,p_num,time,bg-5:55,bg-5:50,bg-5:45,bg-5:40,bg-5:35,bg-5:30,bg-5:25,...,activity-0:40,activity-0:35,activity-0:30,activity-0:25,activity-0:20,activity-0:15,activity-0:10,activity-0:05,activity-0:00,bg+1:00
177019,p12_25294,p12,23:35:00,8.8,9.1,9.2,9.4,9.8,10.2,10.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.1
177020,p12_25295,p12,23:40:00,9.1,9.2,9.4,9.8,10.2,10.4,10.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.9
177021,p12_25296,p12,23:45:00,9.2,9.4,9.8,10.2,10.4,10.3,10.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.7
177022,p12_25297,p12,23:50:00,9.4,9.8,10.2,10.4,10.3,10.1,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.5
177023,p12_25298,p12,23:55:00,9.8,10.2,10.4,10.3,10.1,10.0,9.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.2

In [5]:
# Extract the unique feature names by identifying the pattern of the column names
train_columns = train_data.columns

# Use set comprehension to extract unique feature types (such as 'bg', 'insulin', 'carbs', etc.)
unique_features = {col.split('-')[0] for col in train_columns if '-' in col}

# Print the unique feature names
unique_features

{'activity', 'bg', 'cals', 'carbs', 'hr', 'insulin', 'steps'}

In [6]:
print("Training set: ", train_data.shape)

Training set:  (177024, 508)

In [7]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177024 entries, 0 to 177023
Columns: 508 entries, id to bg+1:00
dtypes: float64(433), object(75)
memory usage: 686.1+ MB

In [8]:
train_data.isnull().sum()

id                    0
p_num                 0
time                  0
bg-5:55           27254
bg-5:50           18491
                  ...
activity-0:15    174293
activity-0:10    174287
activity-0:05    174271
activity-0:00    174287
bg+1:00               0
Length: 508, dtype: int64

In [9]:
#percentage of missing values
train_data.isnull().sum()/train_data.shape[0]*100

id                0.000000
p_num             0.000000
time              0.000000
bg-5:55          15.395653
bg-5:50          10.445476
                   ...
activity-0:15    98.457271
activity-0:10    98.453882
activity-0:05    98.444844
activity-0:00    98.453882
bg+1:00           0.000000
Length: 508, dtype: float64

In [10]:
#finding duplicates
train_data.duplicated().sum()

0

In [11]:
#garbage value check
for i in train_data.select_dtypes(include= "object").columns:
    print(train_data[i].value_counts())
    print("***"*10)

id
p01_0        1
p10_16303    1
p10_16295    1
p10_16296    1
p10_16297    1
            ..
p03_24678    1
p03_24679    1
p03_24680    1
p03_24681    1
p12_25298    1
Name: count, Length: 177024, dtype: int64
******************************
p_num
p03    26028
p02    25872
p10    25454
p12    25299
p04    24686
p11    24555
p01     8459
p06     8383
p05     8288
Name: count, dtype: int64
******************************
time
11:55:00    640
16:45:00    638
16:00:00    638
15:45:00    638
16:30:00    637
           ...
00:55:00    594
23:25:00    593
22:25:00    593
00:25:00    591
00:10:00    590
Name: count, Length: 288, dtype: int64
******************************
activity-5:55
Walk                 1965
Run                   249
Walking               230
Sport                  76
Outdoor Bike           43
Swim                   41
Aerobic Workout        23
Hike                   20
Dancing                13
Workout                10
Running                10
HIIT                   10
Yoga                    9
Indoor climbing         8
Swimming                6
Weights                 6
Zumba                   6
Bike                    6
Strength training       4
Tennis                  2
Spinning                2
Stairclimber            1
Name: count, dtype: int64
******************************
activity-5:50
Walk                 1962
Run                   249
Walking               230
Sport                  76
Outdoor Bike           48
Swim                   40
Aerobic Workout        21
Hike                   20
Dancing                14
HIIT                   11
Workout                10
Running                10
Yoga                    9
Indoor climbing         8
Swimming                6
Weights                 6
Bike                    6
Zumba                   5
Strength training       3
Spinning                2
Tennis                  1
Stairclimber            1
Name: count, dtype: int64
******************************
activity-5:45
Walk                 1951
Run                   249
Walking               230
Sport                  74
Outdoor Bike           45
Swim                   39
Aerobic Workout        21
Hike                   20
Dancing                14
Running                10
HIIT                   10
Indoor climbing         9
Workout                 9
Yoga                    9
Swimming                6
Weights                 6
Bike                    6
Zumba                   5
Strength training       3
Tennis                  2
Spinning                2
Stairclimber            1
Name: count, dtype: int64
******************************
activity-5:40
Walk                 1961
Run                   249
Walking               230
Sport                  75
Outdoor Bike           43
Swim                   42
Aerobic Workout        21
Hike                   20
Dancing                13
Workout                10
Running                10
HIIT                   10
Yoga                    9
Indoor climbing         8
Swimming                6
Weights                 6
Zumba                   6
Bike                    6
Strength training       4
Tennis                  2
Spinning                2
Stairclimber            1
Name: count, dtype: int64
******************************
activity-5:35
Walk                 1957
Run                   249
Walking               230
Sport                  76
Outdoor Bike           49
Swim                   40
Hike                   20
Aerobic Workout        20
Dancing                14
HIIT                   11
Workout                10
Running                10
Indoor climbing         9
Yoga                    9
Swimming                6
Weights                 6
Bike                    6
Zumba                   5
Strength training       3
Spinning                2
Tennis                  1
Stairclimber            1
Name: count, dtype: int64
******************************
activity-5:30
Walk                 1948
Run                   249
Walking               230
Sport                  75
Outdoor Bike           45
Swim                   39
Hike                   20
Aerobic Workout        20
Dancing                14
HIIT                   10
Workout                 9
Running                 9
Indoor climbing         9
Yoga                    9
Swimming                6
Weights                 6
Bike                    6
Zumba                   4
Strength training       3
Tennis                  2
Spinning                2
Stairclimber            1
Name: count, dtype: int64
******************************
activity-5:25
Walk                 1957
Run                   249
Walking               230
Sport                  76
Outdoor Bike           43
Swim                   42
Aerobic Workout        21
Hike                   20
Dancing                13
HIIT                   10
Workout                10
Yoga                    9
Running                 8
Indoor climbing         8
Swimming                6
Weights                 6
Zumba                   6
Bike                    6
Strength training       4
Tennis                  2
Spinning                2
Stairclimber            1
Name: count, dtype: int64
******************************
activity-5:20
Walk                 1958
Run                   249
Walking               229
Sport                  78
Outdoor Bike           49
Swim                   41
Hike                   20
Aerobic Workout        20
Dancing                14
HIIT                   11
Workout                10
Yoga                    9
Indoor climbing         9
Running                 7
Weights                 6
Swimming                6
Bike                    6
Zumba                   5
Strength training       3
Spinning                2
Tennis                  1
Stairclimber            1
Name: count, dtype: int64
******************************
activity-5:15
Walk                 1948
Run                   249
Walking               228
Sport                  75
Outdoor Bike           45
Swim                   39
Hike                   20
Aerobic Workout        20
Dancing                14
HIIT                   10
Yoga                    9
Indoor climbing         9
Workout                 9
Running                 7
Weights                 6
Swimming                6
Bike                    6
Zumba                   4
Strength training       3
Tennis                  2
Spinning                2
Stairclimber            1
Name: count, dtype: int64
******************************
activity-5:10
Walk                 1957
Run                   249
Walking               227
Sport                  76
Swim                   42
Outdoor Bike           42
Aerobic Workout        21
Hike                   20
Dancing                14
HIIT                   10
Workout                10
Yoga                    9
Running                 8
Indoor climbing         8
Swimming                6
Weights                 6
Zumba                   6
Bike                    6
Strength training       4
Tennis                  2
Spinning                2
Stairclimber            1
Name: count, dtype: int64
******************************
activity-5:05
Walk                 1964
Run                   249
Walking               226
Sport                  78
Outdoor Bike           49
Swim                   41
Aerobic Workout        21
Hike                   20
Dancing                14
HIIT                   11
Workout                10
Running                 9
Indoor climbing         9
Yoga                    9
Swimming                6
Weights                 6
Bike                    6
Zumba                   5
Strength training       3
Spinning                2
Tennis                  1
Stairclimber            1
Name: count, dtype: int64
******************************
activity-5:00
Walk                 1956
Run                   249
Walking               225
Sport                  75
Outdoor Bike           45
Swim                   39
Aerobic Workout        22
Hike                   20
Dancing                14
Running                10
HIIT                    9
Indoor climbing         9
Workout                 9
Yoga                    9
Swimming                6
Weights                 6
Bike                    6
Zumba                   4
Strength training       3
Tennis                  2
Spinning                2
Stairclimber            1
Name: count, dtype: int64
******************************
activity-4:55
Walk                 1964
Run                   249
Walking               224
Sport                  76
Outdoor Bike           42
Swim                   40
Aerobic Workout        22
Hike                   20
Dancing                14
Workout                10
Running                10
HIIT                   10
Yoga                    9
Indoor climbing         8
Swimming                6
Weights                 6
Zumba                   6
Bike                    6
Strength training       4
Tennis                  2
Spinning                2
Stairclimber            1
Name: count, dtype: int64
******************************
activity-4:50
Walk                 1974
Run                   249
Walking               224
Sport                  78
Outdoor Bike           49
Swim                   41
Aerobic Workout        22
Hike                   20
Dancing                14
HIIT                   11
Workout                10
Running                10
Indoor climbing         9
Yoga                    9
Swimming                6
Weights                 6
Zumba                   6
Bike                    6
Strength training       3
Spinning                2
Tennis                  1
Stairclimber            1
Name: count, dtype: int64
******************************
activity-4:45
Walk                 1958
Run                   249
Walking               224
Sport                  75
Outdoor Bike           45
Swim                   38
Aerobic Workout        23
Hike                   20
Dancing                15
Running                10
HIIT                    9
Indoor climbing         9
Workout                 9
Yoga                    9
Swimming                6
Weights                 6
Bike                    6
Zumba                   4
Strength training       3
Tennis                  2
Spinning                2
Stairclimber            1
Name: count, dtype: int64
******************************
activity-4:40
Walk                 1965
Run                   249
Walking               224
Sport                  75
Outdoor Bike           42
Swim                   40
Aerobic Workout        23
Hike                   20
Dancing                14
Workout                10
Running                10
HIIT                   10
Yoga                    9
Indoor climbing         8
Swimming                6
Weights                 6
Zumba                   6
Bike                    6
Strength training       4
Tennis                  2
Spinning                2
Stairclimber            1
Name: count, dtype: int64
******************************
activity-4:35
Walk                 1971
Run                   249
Walking               224
Sport                  79
Outdoor Bike           49
Swim                   41
Aerobic Workout        23
Hike                   20
Dancing                14
HIIT                   11
Workout                10
Running                10
Indoor climbing         9
Yoga                    9
Swimming                6
Weights                 6
Zumba                   6
Bike                    6
Strength training       3
Spinning                2
Tennis                  1
Stairclimber            1
Name: count, dtype: int64
******************************
activity-4:30
Walk                 1958
Run                   249
Walking               224
Sport                  75
Outdoor Bike           43
Swim                   38
Aerobic Workout        24
Hike                   20
Dancing                15
Running                10
Workout                 9
Yoga                    9
HIIT                    8
Indoor climbing         8
Swimming                6
Weights                 6
Bike                    6
Zumba                   4
Strength training       3
Tennis                  2
Spinning                2
Stairclimber            1
Name: count, dtype: int64
******************************
activity-4:25
Walk                 1958
Run                   249
Walking               224
Sport                  75
Outdoor Bike           40
Swim                   39
Aerobic Workout        24
Hike                   20
Dancing                14
Workout                10
Running                10
HIIT                   10
Yoga                    9
Indoor climbing         8
Swimming                6
Weights                 6
Zumba                   6
Bike                    6
Strength training       4
Tennis                  2
Spinning                2
Stairclimber            1
Name: count, dtype: int64
******************************
activity-4:20
Walk                 1965
Run                   249
Walking               224
Sport                  80
Outdoor Bike           47
Swim                   41
Aerobic Workout        23
Hike                   20
Dancing                14
HIIT                   11
Workout                10
Running                 9
Indoor climbing         9
Yoga                    9
Swimming                6
Weights                 6
Zumba                   6
Bike                    6
Strength training       3
Spinning                2
Tennis                  1
Stairclimber            1
Name: count, dtype: int64
******************************
activity-4:15
Walk                 1951
Run                   249
Walking               224
Sport                  76
Outdoor Bike           42
Swim                   38
Aerobic Workout        24
Hike                   20
Dancing                15
Workout                 9
Running                 9
HIIT                    9
Yoga                    9
Indoor climbing         8
Swimming                6
Weights                 6
Bike                    6
Zumba                   4
Strength training       3
Tennis                  2
Spinning                2
Stairclimber            1
Name: count, dtype: int64
******************************
activity-4:10
Walk                 1955
Run                   249
Walking               224
Sport                  77
Outdoor Bike           40
Swim                   39
Aerobic Workout        24
Hike                   20
Dancing                14
Workout                10
HIIT                   10
Running                 9
Yoga                    9
Indoor climbing         7
Zumba                   6
Swimming                6
Weights                 6
Bike                    6
Strength training       4
Tennis                  2
Spinning                2
Name: count, dtype: int64
******************************
activity-4:05
Walk                 1966
Run                   249
Walking               224
Sport                  79
Outdoor Bike           46
Swim                   41
Aerobic Workout        23
Hike                   20
Dancing                14
HIIT                   11
Workout                10
Running                 9
Yoga                    9
Indoor climbing         8
Zumba                   6
Swimming                6
Weights                 6
Bike                    6
Strength training       3
Spinning                2
Tennis                  1
Name: count, dtype: int64
******************************
activity-4:00
Walk                 1956
Run                   249
Walking               224
Sport                  76
Outdoor Bike           41
Swim                   37
Aerobic Workout        24
Hike                   20
Dancing                15
Running                10
Workout                 9
HIIT                    9
Yoga                    9
Indoor climbing         7
Swimming                6
Bike                    6
Weights                 6
Zumba                   4
Strength training       3
Tennis                  2
Spinning                2
Name: count, dtype: int64
******************************
activity-3:55
Walk                 1958
Run                   249
Walking               224
Sport                  76
Swim                   39
Outdoor Bike           39
Aerobic Workout        24
Hike                   20
Dancing                14
Workout                10
Running                10
HIIT                   10
Yoga                    9
Indoor climbing         7
Zumba                   6
Swimming                6
Bike                    6
Weights                 5
Strength training       4
Tennis                  2
Spinning                2
Name: count, dtype: int64
******************************
activity-3:50
Walk                 1970
Run                   249
Walking               224
Sport                  77
Outdoor Bike           45
Swim                   42
Aerobic Workout        23
Hike                   20
Dancing                14
HIIT                   11
Workout                10
Running                10
Yoga                    9
Indoor climbing         7
Zumba                   6
Swimming                6
Bike                    6
Weights                 5
Strength training       3
Spinning                2
Tennis                  1
Name: count, dtype: int64
******************************
activity-3:45
Walk                 1958
Run                   249
Walking               224
Sport                  76
Outdoor Bike           40
Swim                   38
Aerobic Workout        24
Hike                   20
Dancing                15
Running                10
HIIT                   10
Workout                 9
Yoga                    9
Swimming                6
Bike                    6
Indoor climbing         6
Weights                 5
Zumba                   4
Strength training       3
Tennis                  2
Spinning                2
Name: count, dtype: int64
******************************
activity-3:40
Walk                 1963
Run                   249
Walking               224
Sport                  78
Swim                   40
Outdoor Bike           38
Aerobic Workout        24
Hike                   20
Dancing                14
Workout                10
Running                10
HIIT                   10
Yoga                    9
Indoor climbing         7
Zumba                   6
Swimming                6
Bike                    6
Strength training       4
Weights                 4
Tennis                  2
Spinning                2
Name: count, dtype: int64
******************************
activity-3:35
Walk                 1975
Run                   249
Walking               224
Sport                  77
Outdoor Bike           44
Swim                   43
Aerobic Workout        23
Hike                   20
Dancing                14
HIIT                   11
Workout                10
Running                10
Yoga                    9
Indoor climbing         8
Zumba                   6
Swimming                6
Bike                    6
Weights                 4
Strength training       3
Spinning                2
Tennis                  1
Name: count, dtype: int64
******************************
activity-3:30
Walk                 1964
Run                   249
Walking               224
Sport                  76
Outdoor Bike           39
Swim                   38
Aerobic Workout        23
Hike                   20
Dancing                15
Running                10
HIIT                   10
Workout                 9
Yoga                    9
Indoor climbing         7
Swimming                6
Bike                    6
Weights                 4
Zumba                   4
Strength training       3
Tennis                  2
Spinning                2
Name: count, dtype: int64
******************************
activity-3:25
Walk                 1975
Run                   249
Walking               224
Sport                  77
Swim                   39
Outdoor Bike           37
Aerobic Workout        24
Hike                   20
Dancing                14

In [12]:
print(train_data.isnull().sum().sum(), test_data.isnull().sum().sum())

40294794 862409

In [13]:
# Define a function to bin the data into hourly intervals (12 five-minute intervals per hour)
def bin_hourly(data, feature, num_bins=6):
    feature_columns = [col for col in data.columns if feature in col]
    bins = np.array_split(feature_columns, num_bins)  # Split into 6 bins (1 hour each)
    
    binned_data = pd.DataFrame()
    for i, bin_cols in enumerate(bins):
        binned_data[f'{feature}_hour_{i+1}'] = data[bin_cols].mean(axis=1)
    
    return binned_data

# Apply the binning to bg, insulin, and carbs features
bg_binned = bin_hourly(train_data, 'bg')
insulin_binned = bin_hourly(train_data, 'insulin')
carbs_binned = bin_hourly(train_data, 'carbs')

# Concatenate all binned features together with the target
aggregated_data = pd.concat([bg_binned, insulin_binned, carbs_binned, train_data['bg+1:00']], axis=1)

# Display the new binned data
print(aggregated_data.head())

   bg_hour_1  bg_hour_2  bg_hour_3  bg_hour_4  bg_hour_5  bg_hour_6  \
0      9.300      8.600     12.400     15.250     17.975      15.90
1      9.000      9.275     13.175     16.250     17.800      15.16
2      8.600     10.200     13.775     17.300     17.525      15.02
3      8.375     11.325     14.425     17.950     17.075      14.40
4      8.600     12.400     15.250     17.975     16.525      13.64

   insulin_hour_1  insulin_hour_2  insulin_hour_3  insulin_hour_4  \
0          0.0083          0.0083        0.008300        0.016633
1          0.0083          0.0083        0.008300        0.029133
2          0.0083          0.0083        0.008300        0.041633
3          0.0083          0.0083        0.008300        0.054133
4          0.0083          0.0083        0.016633        0.058300

   insulin_hour_5  insulin_hour_6  carbs_hour_1  carbs_hour_2  carbs_hour_3  \
0        0.058300        0.055533           NaN           NaN           NaN
1        0.058300        0.051383           NaN           NaN           NaN
2        0.058300        0.047233           NaN           NaN           NaN
3        0.058300        0.043083           NaN           NaN           NaN
4        0.055533        0.041700           NaN           NaN           NaN

   carbs_hour_4  carbs_hour_5  carbs_hour_6  bg+1:00
0           NaN           NaN           NaN     13.4
1           NaN           NaN           NaN     12.8
2           NaN           NaN           NaN     15.5
3           NaN           NaN           NaN     14.8
4           NaN           NaN           NaN     12.7

In [26]:
train_data = train_data.loc[:, ~train_data.columns.str.startswith('activity-')]
train_data = train_data.loc[:, ~train_data.columns.str.startswith('id')]
train_data = train_data.loc[:, ~train_data.columns.str.startswith('p_num')]
train_data = train_data.loc[:, ~train_data.columns.str.startswith('time')]

print("Columns after removing 'activity':", train_data.columns)

Columns after removing 'activity': Index(['bg-5:55', 'bg-5:50', 'bg-5:45', 'bg-5:40', 'bg-5:35', 'bg-5:30',
       'bg-5:25', 'bg-5:20', 'bg-5:15', 'bg-5:10',
       ...
       'cals-0:40', 'cals-0:35', 'cals-0:30', 'cals-0:25', 'cals-0:20',
       'cals-0:15', 'cals-0:10', 'cals-0:05', 'cals-0:00', 'bg+1:00'],
      dtype='object', length=433)

In [27]:
test_data = test_data.loc[:, ~test_data.columns.str.startswith('activity-')]
test_data_ids = test_data.loc[:, 'id']
test_data = test_data.loc[:, ~test_data.columns.str.startswith('id')]
test_data = test_data.loc[:, ~test_data.columns.str.startswith('p_num')]
test_data = test_data.loc[:, ~test_data.columns.str.startswith('time')]
print("Columns after removing 'activity':", test_data.columns)

Columns after removing 'activity': Index(['bg-5:55', 'bg-5:50', 'bg-5:45', 'bg-5:40', 'bg-5:35', 'bg-5:30',
       'bg-5:25', 'bg-5:20', 'bg-5:15', 'bg-5:10',
       ...
       'cals-0:45', 'cals-0:40', 'cals-0:35', 'cals-0:30', 'cals-0:25',
       'cals-0:20', 'cals-0:15', 'cals-0:10', 'cals-0:05', 'cals-0:00'],
      dtype='object', length=432)

In [16]:
train_data.isnull().sum()/train_data.shape[0]*100

bg-5:55      15.395653
bg-5:50      10.445476
bg-5:45       7.716468
bg-5:40      15.397912
bg-5:35      10.603082
               ...
cals-0:15    19.931196
cals-0:10    19.925547
cals-0:05    19.919898
cals-0:00    19.916508
bg+1:00       0.000000
Length: 433, dtype: float64

In [28]:
train_data

,bg-5:55,bg-5:50,bg-5:45,bg-5:40,bg-5:35,bg-5:30,bg-5:25,bg-5:20,bg-5:15,bg-5:10,...,cals-0:40,cals-0:35,cals-0:30,cals-0:25,cals-0:20,cals-0:15,cals-0:10,cals-0:05,cals-0:00,bg+1:00
0,NaN,NaN,9.6,NaN,NaN,9.7,NaN,NaN,9.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.4
1,NaN,NaN,9.7,NaN,NaN,9.2,NaN,NaN,8.7,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.8
2,NaN,NaN,9.2,NaN,NaN,8.7,NaN,NaN,8.4,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.5
3,NaN,NaN,8.7,NaN,NaN,8.4,NaN,NaN,8.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.8
4,NaN,NaN,8.4,NaN,NaN,8.1,NaN,NaN,8.3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177019,8.8,9.1,9.2,9.4,9.8,10.2,10.4,10.3,10.1,10.0,...,6.75,6.75,6.75,6.75,6.75,6.75,6.75,6.75,6.75,11.1
177020,9.1,9.2,9.4,9.8,10.2,10.4,10.3,10.1,10.0,9.8,...,6.75,6.75,6.75,6.75,6.75,6.75,6.75,6.75,6.75,10.9
177021,9.2,9.4,9.8,10.2,10.4,10.3,10.1,10.0,9.8,9.5,...,6.75,6.75,6.75,6.75,6.75,6.75,6.75,6.75,6.75,10.7
177022,9.4,9.8,10.2,10.4,10.3,10.1,10.0,9.8,9.5,9.2,...,6.75,6.75,6.75,6.75,6.75,6.75,6.75,6.75,6.75,10.5
177023,9.8,10.2,10.4,10.3,10.1,10.0,9.8,9.5,9.2,9.0,...,6.75,6.75,6.75,6.75,6.75,6.75,6.75,6.75,6.75,10.2

In [40]:
train_filled = train_data.fillna(train_data.mean())
test_filled = test_data.fillna(test_data.mean())

In [41]:
train_filled

,bg-5:55,bg-5:50,bg-5:45,bg-5:40,bg-5:35,bg-5:30,bg-5:25,bg-5:20,bg-5:15,bg-5:10,...,cals-0:40,cals-0:35,cals-0:30,cals-0:25,cals-0:20,cals-0:15,cals-0:10,cals-0:05,cals-0:00,bg+1:00
0,8.211018,8.230449,9.6,8.210988,8.229649,9.7,8.211049,8.228888,9.2,8.211,...,9.364063,9.364096,9.362525,9.366591,9.368108,9.366998,9.37001,9.372536,9.36896,13.4
1,8.211018,8.230449,9.7,8.210988,8.229649,9.2,8.211049,8.228888,8.7,8.211,...,9.364063,9.364096,9.362525,9.366591,9.368108,9.366998,9.37001,9.372536,9.36896,12.8
2,8.211018,8.230449,9.2,8.210988,8.229649,8.7,8.211049,8.228888,8.4,8.211,...,9.364063,9.364096,9.362525,9.366591,9.368108,9.366998,9.37001,9.372536,9.36896,15.5
3,8.211018,8.230449,8.7,8.210988,8.229649,8.4,8.211049,8.228888,8.1,8.211,...,9.364063,9.364096,9.362525,9.366591,9.368108,9.366998,9.37001,9.372536,9.36896,14.8
4,8.211018,8.230449,8.4,8.210988,8.229649,8.1,8.211049,8.228888,8.3,8.211,...,9.364063,9.364096,9.362525,9.366591,9.368108,9.366998,9.37001,9.372536,9.36896,12.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177019,8.800000,9.100000,9.2,9.400000,9.800000,10.2,10.400000,10.300000,10.1,10.000,...,6.750000,6.750000,6.750000,6.750000,6.750000,6.750000,6.75000,6.750000,6.75000,11.1
177020,9.100000,9.200000,9.4,9.800000,10.200000,10.4,10.300000,10.100000,10.0,9.800,...,6.750000,6.750000,6.750000,6.750000,6.750000,6.750000,6.75000,6.750000,6.75000,10.9
177021,9.200000,9.400000,9.8,10.200000,10.400000,10.3,10.100000,10.000000,9.8,9.500,...,6.750000,6.750000,6.750000,6.750000,6.750000,6.750000,6.75000,6.750000,6.75000,10.7
177022,9.400000,9.800000,10.2,10.400000,10.300000,10.1,10.000000,9.800000,9.5,9.200,...,6.750000,6.750000,6.750000,6.750000,6.750000,6.750000,6.75000,6.750000,6.75000,10.5
177023,9.800000,10.200000,10.4,10.300000,10.100000,10.0,9.800000,9.500000,9.2,9.000,...,6.750000,6.750000,6.750000,6.750000,6.750000,6.750000,6.75000,6.750000,6.75000,10.2

In [42]:
print(train_filled.isnull().sum().sum(), test_filled.isnull().sum().sum())

0 0

In [45]:
print(train_data.shape, test_data.shape)
print(train_data.info())

(177024, 433) (3644, 432)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177024 entries, 0 to 177023
Columns: 433 entries, bg-5:55 to bg+1:00
dtypes: float64(433)
memory usage: 584.8 MB
None

In [46]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

X = train_filled.iloc[:, :-1]
Y= train_filled.loc[:, 'bg+1:00']
print(X.shape,Y.shape)

X_train,X_test,Y_train,Y_test = train_test_split(X,Y, test_size=0.2, random_state= 42)

print(X_train.shape,Y_train.shape)
print(X_test.shape,Y_test.shape)
model = LinearRegression()
model.fit(X_train,Y_train)
y_pred = model.predict(X_test)

mse = mean_squared_error(Y_test,y_pred)
print(f'MSE: {mse}')

(177024, 432) (177024,)
(141619, 432) (141619,)
(35405, 432) (35405,)
MSE: 4.413910964714362

In [74]:
y_pred_test = model.predict(test_filled).round(3)
print(y_pred_test, test_data_ids)

[5.636 1.067 5.305 ... 4.731 5.784 4.32 ] 0       p01_8459
1       p01_8460
2       p01_8461
3       p01_8462
4       p01_8463
          ...
3639     p24_256
3640     p24_257
3641     p24_258
3642     p24_259
3643     p24_260
Name: id, Length: 3644, dtype: object

In [75]:
submission = pd.DataFrame([test_data_ids, y_pred_test]).transpose()
submission.columns = ["id", "bg+1:00"]
print(submission)
submission.to_csv(submission_path, index=False)

            id bg+1:00
0     p01_8459   5.636
1     p01_8460   1.067
2     p01_8461   5.305
3     p01_8462   7.195
4     p01_8463   3.553
...        ...     ...
3639   p24_256   3.954
3640   p24_257   8.295
3641   p24_258   4.731
3642   p24_259   5.784
3643   p24_260    4.32

[3644 rows x 2 columns]